* {
  box-sizing: border-box;
}

[data-theme="dark"] {
  --color-fg: white;
  --color-contrast: hsl(23, 100%, 63%);;
  --color-bg: hsl(0, 0%, 0%);
  --color-bg-nav: hsl(0, 0%, 20%);
}


[data-theme="light"] {
  --color-fg: black;
  --color-contrast: hsl(23, 100%, 63%);;
  --color-bg: hsl(0, 0%, 100%);
  --color-bg-nav: hsl(0, 0%, 98%);
}

html {
  height: 100vh;
  /* dark */
}
body {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  height:100%;
  display:flex;

  margin:0;
  height: auto;

  color: var(--color-fg);
  background: var(--color-bg);
}

nav {
  width: 280px;
  position: fixed;
  background: var(--color-bg-nav);

  height:100%;
  padding-top: 10px;
}

article {
  margin-left: 280px;
  max-width:800px;
  width: 800px;
  padding: 2rem;
}

ul {
  list-style: none;
  padding:0;
  margin:0;
  width: 100%;
  overflow: hidden;
}

li {
  padding: 0px;
  width: 100%;
}

nav > ul > li > ul {
  height:0;
}
nav > ul > li.expanded > ul {
  height:auto;
}

ul a {
  text-decoration: none;
  display:inline-block;
  width: 100%;
}

ul a:hover {
  background: hsl(0, 0%, 90%);
}

ul > li > a, 
ul > li > a:visited  {
  padding: 0 0 0 20px;
  color: var(--color-contrast);
  font-weight: bold;
}

ul > li > ul > li > a,
ul > li > ul > li > a:visited
{
  padding: 0 0 0 40px;
  color: var(--color-fg);
}

ul > li > ul > li > ul > li > a,
ul > li > ul > li > ul > li > a:visited
 {
  padding: 0 0 0 60px;
  color: var(--color-fg);
  font-style: italic;
}

/* ----- HEADINGS ----- */
h1 {
  color: var(--color-contrast);
  padding-top:13rem;
}

h2 {
  padding-top:3rem;
}

h3 {
  font-style: italic;
}